.bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;

    border-bottom: solid;
    border-color: #092e20;
}

.bar_links {
    list-style: none;
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.bar_links li {
    display: inline-block;
    padding: 0px 20px;
}

.link {
    text-decoration: none;
    background-color: #333;
    font-weight: bolder;
    font-size: 0.9rem;
    color: #fff;
    padding: 0.7rem;
    border-radius: 4px;
}

.link:hover {
    color: #fff;
    border-color: #222;
    cursor: pointer;
    text-shadow: 0 1px 0 #222;
    background-color: #fff;
}

.logo_text {
    text-decoration: none;
    font-weight: bolder;
    font-size: 0.9rem;
    color: #000;
    padding: 0.7rem;
    border-radius: 4px;
}