* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d0d0d0;
}

.center {
    display: flex;
    justify-content: center;
    margin: 0.5rem
}

.navbar {
    position: relative;
   /* height: 6.7vh;*/
    height: 3.1rem;
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: center;
}

.navbar_links {
    margin:auto;
    list-style: none;
    gap: 1rem;
    display: flex;
}

.navbar_links li {
    display: inline-block;
    padding: 0px 20px;
}

.link {
    padding: 0.5rem;
    color: #61DBFB;
    border: none;
    background-color: #fff;
}

.link:hover {
    border-bottom: solid #61DBFB;
}

.link_clicked {
    padding: 0.5rem;
    border:none;
    border-bottom: solid #61DBFB;
    color: #fff;
    background-color: #61DBFB;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.login {
    padding: 1rem;
    display: flex;
    background-color:rgba(97,219,251,0.8);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input {
    border:none;
    border-color: #F4F4F4;
    color: #C3C3C3;
    padding: 0.2rem;
    border-radius: 5px;
    background-color: #fff;
}

.loginBtn {
    background-color: #fff;
    color: #61DBFB;
    border-color: #F4F4F4;
    padding: 0.2rem;
    border-radius: 5px;
}

.chooseBtn {
    padding: 0.5rem;
    color: #61DBFB;
    border: none;
    border: solid #fff;
    background-color: #fff;
}

.chooseBtn:hover {
    border: solid #61DBFB;
    border-radius: 8px;
}

.chooseBtn_clicked {
    padding: 0.5rem;
    border:none;
    border-bottom: solid #61DBFB;
    color: #fff;
    background-color: #61DBFB;
    border-radius: 8px;
}

.btn_bar {
    margin-top: 1rem;
    position: relative;
    height: 3.1rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.btn_bar_links {
    margin: auto;
    list-style: none;
    gap: 1rem;
    display: flex;
}

.btn_bar_links li {
    display: inline-block;
    padding: 0px 20px;
}